body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #e59a47 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #e59a47;
}

@media only screen and (min-width: 768px) {
  section h2.section-heading {
    font-size: 40px;
  }
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-top: 45px;
  margin-bottom: 40px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #e59a47;
  border-color: #e59a47;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.text-color_orange {
  color: #e59a47;
}

.text-color_black {
  color: #393939;
}

.text-color_green {
  color: #d0ef84;
}

.text-color_beige {
  color: #fffcef;
}

.text-color_white {
  color: #fff;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img.responsive-img {
  max-width: 40%;
}

@media only screen and (min-width: 1200px) {
  img.responsive-img {
    max-width: 20%;
  }
}

img.responsive-map-img {
  max-width: 65%;
}

footer {
  background-color: #393939;
}

.rowTable {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.colTable {
  display: table-cell;
}

[class*=colTable] {
  vertical-align: top;
}

.gutter {
  height: 1px;
}

[class*=flexContainer] {
  display: flex;
  flex-wrap: wrap;
}

.flexContainerH {
  flex-direction: row;
}

.flexContainerV {
  flex-direction: column;
}

.flexItemFluid {
  flex: 1;
}

.flexItem0 {
  order: 0;
}

.flexItem1 {
  order: 1;
}

.flexItem2 {
  order: 2;
}

.flexItemCenter {
  margin: auto;
}

.boxFlexContainer {
  display: flex;
  flex-wrap: wrap;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.flexItemStart {
  align-items: flex-start;
}

.flexItemEnd {
  align-items: flex-end;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inbl {
  display: inline-block;
  vertical-align: top;
}

.ie7 .inbl {
  display: inline;
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

img.left {
  margin-right: 1em;
}

img.right {
  margin-left: 1em;
}

img.left,
img.right {
  margin-bottom: em(5);
}

.bold,
strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

em,
.italic {
  font-style: italic;
}

.txtLeft {
  text-align: left;
}

.txtRight {
  text-align: right;
}

.txtCenter {
  text-align: center;
}

.txtTop {
  vertical-align: top;
}

.txtBottom {
  vertical-align: bottom;
}

.txtMiddle {
  vertical-align: middle;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1em;
}

.mt2 {
  margin-top: 2em;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: 1em;
}

.mr2 {
  margin-right: 2em;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1em;
}

.mb2 {
  margin-bottom: 2em;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 1em;
}

.ml2 {
  margin-left: 2em;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: 1em;
}

.m2 {
  margin: 2em;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: 1em;
}

.pt2 {
  padding-top: 2em;
}

.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: 1em;
}

.pr2 {
  padding-right: 2em;
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: 1em;
}

.pb2 {
  padding-bottom: 2em;
}

.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: 1em;
}

.pl2 {
  padding-left: 2em;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 1em;
}

.p2 {
  padding: 2em;
}

.w1 {
  width: 1%;
}

.w2 {
  width: 2%;
}

.w3 {
  width: 3%;
}

.w5 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33.333%;
}

.w40 {
  width: 40%;
}

.w43 {
  width: 43%;
}

.w45 {
  width: 45%;
}

.w49 {
  width: 49%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w66 {
  width: 66.666%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

.wAuto {
  width: auto;
}

.visuallyHidden {
  margin: 1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.hide {
  display: none;
}

.noUnderline {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.clear {
  clear: both;
}

.clearNone {
  clear: none;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.listNone {
  list-style-type: none;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  .rowTable-s320 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .colTable-s320 {
    display: table-cell;
  }
  .gut-s320 {
    height: 1px;
  }
  .block-s320 {
    display: block;
  }
  .inline-s320 {
    display: inline;
  }
  .txtLeft-s320 {
    text-align: left;
  }
  .txtRight-s320 {
    text-align: right;
  }
  .txtCenter-s320 {
    text-align: center;
  }
  .txtTop-s320 {
    vertical-align: top;
  }
  .txtBottom-s320 {
    vertical-align: bottom;
  }
  .txtMiddle-s320 {
    vertical-align: middle;
  }
  .left-s320 {
    float: left;
  }
  .right-s320 {
    float: right;
  }
  .center-s320 {
    margin-left: auto;
    margin-right: auto;
  }
  .boxFlexContainer-s320 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxFlexDirectionC-s320 {
    display: flex;
    flex-direction: column;
  }
  .boxFlexDirectionR-s320 {
    display: flex;
    flex-direction: row;
  }
  .spaceBetween-s320 {
    justify-content: space-between;
  }
  .spaceAround-s320 {
    justify-content: space-around;
  }
  .flexItemStart-s320 {
    align-items: flex-start;
  }
  .flexItemCenter-s320 {
    align-items: center;
  }
  .flexItemEnd-s320 {
    align-items: flex-end;
  }
  .flexItem0-s320 {
    order: 0;
  }
  .flexItem1-s320 {
    order: 1;
  }
  .flexItem2-s320 {
    order: 2;
  }
  .mt0-s320 {
    margin-top: 0;
  }
  .mt1-s320 {
    margin-top: 16px;
    margin-top: 1rem;
  }
  .mt2-s320 {
    margin-top: 32px;
    margin-top: 2rem;
  }
  .mr0-s320 {
    margin-right: 0;
  }
  .mr1-s320 {
    margin-right: 16px;
    margin-right: 1rem;
  }
  .mr2-s320 {
    margin-right: 32px;
    margin-right: 2rem;
  }
  .mb0-s320 {
    margin-bottom: 0;
  }
  .mb1-s320 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .mb2-s320 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .ml0-s320 {
    margin-left: 0;
  }
  .ml1-s320 {
    margin-left: 16px;
    margin-left: 1rem;
  }
  .ml2-s320 {
    margin-left: 32px;
    margin-left: 2rem;
  }
  .m0-s320 {
    margin: 0;
  }
  .m1-s320 {
    margin: 16px;
    margin: 1rem;
  }
  .m2-s320 {
    margin: 32px;
    margin: 2rem;
  }
  .pt0-s320 {
    padding-top: 0;
  }
  .pt1-s320 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s320 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s320 {
    padding-right: 0;
  }
  .pr1-s320 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s320 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s320 {
    padding-bottom: 0;
  }
  .pb1-s320 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s320 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s320 {
    padding-left: 0;
  }
  .pl1-s320 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s320 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s320 {
    padding: 0;
  }
  .p1-s320 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s320 {
    padding: 32px;
    padding: 2rem;
  }
  .w1-s320 {
    width: 1%;
  }
  .w2-s320 {
    width: 2%;
  }
  .w3-s320 {
    width: 3%;
  }
  .w5-s320 {
    width: 5%;
  }
  .w10-s320 {
    width: 10%;
  }
  .w15-s320 {
    width: 15%;
  }
  .w20-s320 {
    width: 20%;
  }
  .w25-s320 {
    width: 25%;
  }
  .w30-s320 {
    width: 30%;
  }
  .w33-s320 {
    width: 33.333%;
  }
  .w40-s320 {
    width: 40%;
  }
  .w43-s320 {
    width: 43%;
  }
  .w45-s320 {
    width: 45%;
  }
  .w49-s320 {
    width: 49%;
  }
  .w50-s320 {
    width: 50%;
  }
  .w55-s320 {
    width: 55%;
  }
  .w60-s320 {
    width: 60%;
  }
  .w66-s320 {
    width: 66.666%;
  }
  .w70-s320 {
    width: 70%;
  }
  .w75-s320 {
    width: 75%;
  }
  .w80-s320 {
    width: 80%;
  }
  .w85-s320 {
    width: 85%;
  }
  .w90-s320 {
    width: 90%;
  }
  .w95-s320 {
    width: 95%;
  }
  .w100-s320 {
    width: 100%;
  }
  .clearNone-s320 {
    clear: none;
  }
  .hide-s320 {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .rowTable-s480 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .colTable-s480 {
    display: table-cell;
  }
  .gut-s480 {
    height: 1px;
  }
  .block-s480 {
    display: block;
  }
  .inline-s480 {
    display: inline;
  }
  .txtLeft-s480 {
    text-align: left;
  }
  .txtRight-s480 {
    text-align: right;
  }
  .txtCenter-s480 {
    text-align: center;
  }
  .txtTop-s480 {
    vertical-align: top;
  }
  .txtBottom-s480 {
    vertical-align: bottom;
  }
  .txtMiddle-s480 {
    vertical-align: middle;
  }
  .left-s480 {
    float: left;
  }
  .right-s480 {
    float: right;
  }
  .center-s480 {
    margin-left: auto;
    margin-right: auto;
  }
  .boxFlexContainer-s480 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxFlexDirectionC-s480 {
    display: flex;
    flex-direction: column;
  }
  .boxFlexDirectionR-s480 {
    display: flex;
    flex-direction: row;
  }
  .spaceBetween-s480 {
    justify-content: space-between;
  }
  .spaceAround-s480 {
    justify-content: space-around;
  }
  .flexItemStart-s480 {
    align-items: flex-start;
  }
  .flexItemCenter-s480 {
    align-items: center;
  }
  .flexItemEnd-s480 {
    align-items: flex-end;
  }
  .flexItem0-s480 {
    order: 0;
  }
  .flexItem1-s480 {
    order: 1;
  }
  .flexItem2-s480 {
    order: 2;
  }
  .mt0-s480 {
    margin-top: 0;
  }
  .mt1-s480 {
    margin-top: 16px;
    margin-top: 1rem;
  }
  .mt2-s480 {
    margin-top: 32px;
    margin-top: 2rem;
  }
  .mr0-s480 {
    margin-right: 0;
  }
  .mr1-s480 {
    margin-right: 16px;
    margin-right: 1rem;
  }
  .mr2-s480 {
    margin-right: 32px;
    margin-right: 2rem;
  }
  .mb0-s480 {
    margin-bottom: 0;
  }
  .mb1-s480 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .mb2-s480 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .ml0-s480 {
    margin-left: 0;
  }
  .ml1-s480 {
    margin-left: 16px;
    margin-left: 1rem;
  }
  .ml2-s480 {
    margin-left: 32px;
    margin-left: 2rem;
  }
  .m0-s480 {
    margin: 0;
  }
  .m1-s480 {
    margin: 16px;
    margin: 1rem;
  }
  .m2-s480 {
    margin: 32px;
    margin: 2rem;
  }
  .pt0-s480 {
    padding-top: 0;
  }
  .pt1-s480 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s480 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s480 {
    padding-right: 0;
  }
  .pr1-s480 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s480 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s480 {
    padding-bottom: 0;
  }
  .pb1-s480 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s480 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s480 {
    padding-left: 0;
  }
  .pl1-s480 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s480 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s480 {
    padding: 0;
  }
  .p1-s480 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s480 {
    padding: 32px;
    padding: 2rem;
  }
  .w1-s480 {
    width: 1%;
  }
  .w2-s480 {
    width: 2%;
  }
  .w3-s480 {
    width: 3%;
  }
  .w5-s480 {
    width: 5%;
  }
  .w10-s480 {
    width: 10%;
  }
  .w15-s480 {
    width: 15%;
  }
  .w20-s480 {
    width: 20%;
  }
  .w25-s480 {
    width: 25%;
  }
  .w30-s480 {
    width: 30%;
  }
  .w33-s480 {
    width: 33.333%;
  }
  .w40-s480 {
    width: 40%;
  }
  .w43-s480 {
    width: 43%;
  }
  .w45-s480 {
    width: 45%;
  }
  .w49-s480 {
    width: 49%;
  }
  .w50-s480 {
    width: 50%;
  }
  .w55-s480 {
    width: 55%;
  }
  .w60-s480 {
    width: 60%;
  }
  .w66-s480 {
    width: 66.666%;
  }
  .w70-s480 {
    width: 70%;
  }
  .w75-s480 {
    width: 75%;
  }
  .w80-s480 {
    width: 80%;
  }
  .w85-s480 {
    width: 85%;
  }
  .w90-s480 {
    width: 90%;
  }
  .w95-s480 {
    width: 95%;
  }
  .w100-s480 {
    width: 100%;
  }
  .clearNone-s480 {
    clear: none;
  }
  .hide-s480 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .rowTable-s768 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .colTable-s768 {
    display: table-cell;
  }
  .gut-s768 {
    height: 1px;
  }
  .block-s768 {
    display: block;
  }
  .inline-s768 {
    display: inline;
  }
  .inbl-s768 {
    display: inline-block;
  }
  .txtLeft-s768 {
    text-align: left;
  }
  .txtRight-s768 {
    text-align: right;
  }
  .txtCenter-s768 {
    text-align: center;
  }
  .txtTop-s768 {
    vertical-align: top;
  }
  .txtBottom-s768 {
    vertical-align: bottom;
  }
  .txtMiddle-s768 {
    vertical-align: middle;
  }
  .left-s768 {
    float: left;
  }
  .right-s768 {
    float: right;
  }
  .center-s768 {
    margin-left: auto;
    margin-right: auto;
  }
  .boxFlexContainer-s768 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxFlexDirectionC-s768 {
    display: flex;
    flex-direction: column;
  }
  .boxFlexDirectionR-s768 {
    display: flex;
    flex-direction: row;
  }
  .spaceBetween-s768 {
    justify-content: space-between;
  }
  .spaceAround-s768 {
    justify-content: space-around;
  }
  .flexItemStart-s768 {
    align-items: flex-start;
  }
  .flexItemCenter-s768 {
    align-items: center;
  }
  .flexItemEnd-s768 {
    align-items: flex-end;
  }
  .flexItem0-s768 {
    order: 0;
  }
  .flexItem1-s768 {
    order: 1;
  }
  .flexItem2-s768 {
    order: 2;
  }
  .mt0-s768 {
    margin-top: 0;
  }
  .mt1-s768 {
    margin-top: 16px;
    margin-top: 1rem;
  }
  .mt2-s768 {
    margin-top: 32px;
    margin-top: 2rem;
  }
  .mr0-s768 {
    margin-right: 0;
  }
  .mr1-s768 {
    margin-right: 16px;
    margin-right: 1rem;
  }
  .mr2-s768 {
    margin-right: 32px;
    margin-right: 2rem;
  }
  .mb0-s768 {
    margin-bottom: 0;
  }
  .mb1-s768 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .mb2-s768 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .ml0-s768 {
    margin-left: 0;
  }
  .ml1-s768 {
    margin-left: 16px;
    margin-left: 1rem;
  }
  .ml2-s768 {
    margin-left: 32px;
    margin-left: 2rem;
  }
  .m0-s768 {
    margin: 0;
  }
  .m1-s768 {
    margin: 16px;
    margin: 1rem;
  }
  .m2-s768 {
    margin: 32px;
    margin: 2rem;
  }
  .pt0-s768 {
    padding-top: 0;
  }
  .pt1-s768 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s768 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s768 {
    padding-right: 0;
  }
  .pr1-s768 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s768 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s768 {
    padding-bottom: 0;
  }
  .pb1-s768 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s768 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s768 {
    padding-left: 0;
  }
  .pl1-s768 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s768 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s768 {
    padding: 0;
  }
  .p1-s768 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s768 {
    padding: 32px;
    padding: 2rem;
  }
  .w1-s768 {
    width: 1%;
  }
  .w2-s768 {
    width: 2%;
  }
  .w3-s768 {
    width: 3%;
  }
  .w5-s768 {
    width: 5%;
  }
  .w10-s768 {
    width: 10%;
  }
  .w15-s768 {
    width: 15%;
  }
  .w20-s768 {
    width: 20%;
  }
  .w25-s768 {
    width: 25%;
  }
  .w30-s768 {
    width: 30%;
  }
  .w33-s768 {
    width: 33.333%;
  }
  .w40-s768 {
    width: 40%;
  }
  .w43-s768 {
    width: 43%;
  }
  .w45-s768 {
    width: 45%;
  }
  .w49-s768 {
    width: 49%;
  }
  .w50-s768 {
    width: 50%;
  }
  .w55-s768 {
    width: 55%;
  }
  .w60-s768 {
    width: 60%;
  }
  .w66-s768 {
    width: 66.666%;
  }
  .w70-s768 {
    width: 70%;
  }
  .w75-s768 {
    width: 75%;
  }
  .w80-s768 {
    width: 80%;
  }
  .w85-s768 {
    width: 85%;
  }
  .w90-s768 {
    width: 90%;
  }
  .w95-s768 {
    width: 95%;
  }
  .w100-s768 {
    width: 100%;
  }
  .clearNone-s768 {
    clear: none;
  }
  .hide-s768 {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .rowTable-s992 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .colTable-s992 {
    display: table-cell;
  }
  .gut-s992 {
    height: 1px;
  }
  .block-s992 {
    display: block;
  }
  .inline-s992 {
    display: inline;
  }
  .txtLeft-s992 {
    text-align: left;
  }
  .txtRight-s992 {
    text-align: right;
  }
  .txtCenter-s992 {
    text-align: center;
  }
  .txtTop-s992 {
    vertical-align: top;
  }
  .txtBottom-s992 {
    vertical-align: bottom;
  }
  .txtMiddle-s992 {
    vertical-align: middle;
  }
  .left-s992 {
    float: left;
  }
  .right-s992 {
    float: right;
  }
  .center-s992 {
    margin-left: auto;
    margin-right: auto;
  }
  .boxFlexContainer-s992 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxFlexDirectionC-s992 {
    display: flex;
    flex-direction: column;
  }
  .boxFlexDirectionR-s992 {
    display: flex;
    flex-direction: row;
  }
  .spaceBetween-s992 {
    justify-content: space-between;
  }
  .spaceAround-s992 {
    justify-content: space-around;
  }
  .flexItemStart-s992 {
    align-items: flex-start;
  }
  .flexItemCenter-s992 {
    align-items: center;
  }
  .flexItemEnd-s992 {
    align-items: flex-end;
  }
  .flexItem0-s992 {
    order: 0;
  }
  .flexItem1-s992 {
    order: 1;
  }
  .flexItem2-s992 {
    order: 2;
  }
  .mt0-s992 {
    margin-top: 0;
  }
  .mt1-s992 {
    margin-top: 16px;
    margin-top: 1rem;
  }
  .mt2-s992 {
    margin-top: 32px;
    margin-top: 2rem;
  }
  .mr0-s992 {
    margin-right: 0;
  }
  .mr1-s992 {
    margin-right: 16px;
    margin-right: 1rem;
  }
  .mr2-s992 {
    margin-right: 32px;
    margin-right: 2rem;
  }
  .mb0-s992 {
    margin-bottom: 0;
  }
  .mb1-s992 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .mb2-s992 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .ml0-s992 {
    margin-left: 0;
  }
  .ml1-s992 {
    margin-left: 16px;
    margin-left: 1rem;
  }
  .ml2-s992 {
    margin-left: 32px;
    margin-left: 2rem;
  }
  .m0-s992 {
    margin: 0;
  }
  .m1-s992 {
    margin: 16px;
    margin: 1rem;
  }
  .m2-s992 {
    margin: 32px;
    margin: 2rem;
  }
  .pt0-s992 {
    padding-top: 0;
  }
  .pt1-s992 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s992 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s992 {
    padding-right: 0;
  }
  .pr1-s992 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s992 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s992 {
    padding-bottom: 0;
  }
  .pb1-s992 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s992 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s992 {
    padding-left: 0;
  }
  .pl1-s992 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s992 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s992 {
    padding: 0;
  }
  .p1-s992 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s992 {
    padding: 32px;
    padding: 2rem;
  }
  .pt0-s992 {
    padding-top: 0;
  }
  .pt1-s992 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s992 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s992 {
    padding-right: 0;
  }
  .pr1-s992 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s992 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s992 {
    padding-bottom: 0;
  }
  .pb1-s992 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s992 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s992 {
    padding-left: 0;
  }
  .pl1-s992 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s992 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s992 {
    padding: 0;
  }
  .p1-s992 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s992 {
    padding: 32px;
    padding: 2rem;
  }
  .w1-s992 {
    width: 1%;
  }
  .w2-s992 {
    width: 2%;
  }
  .w3-s992 {
    width: 3%;
  }
  .w5-s992 {
    width: 5%;
  }
  .w10-s992 {
    width: 10%;
  }
  .w15-s992 {
    width: 15%;
  }
  .w20-s992 {
    width: 20%;
  }
  .w25-s992 {
    width: 25%;
  }
  .w30-s992 {
    width: 30%;
  }
  .w33-s992 {
    width: 33.333%;
  }
  .w40-s992 {
    width: 40%;
  }
  .w43-s992 {
    width: 43%;
  }
  .w45-s992 {
    width: 45%;
  }
  .w49-s992 {
    width: 49%;
  }
  .w50-s992 {
    width: 50%;
  }
  .w55-s992 {
    width: 55%;
  }
  .w60-s992 {
    width: 60%;
  }
  .w66-s992 {
    width: 66.666%;
  }
  .w70-s992 {
    width: 70%;
  }
  .w75-s992 {
    width: 75%;
  }
  .w80-s992 {
    width: 80%;
  }
  .w85-s992 {
    width: 85%;
  }
  .w90-s992 {
    width: 90%;
  }
  .w95-s992 {
    width: 95%;
  }
  .w100-s992 {
    width: 100%;
  }
  .clearNone-s992 {
    clear: none;
  }
  .hide-s992 {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .rowTable-s1200 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .colTable-s1200 {
    display: table-cell;
  }
  .gut-s1200 {
    height: 1px;
  }
  .block-s1200 {
    display: block;
  }
  .inline-s1200 {
    display: inline;
  }
  .txtLeft-s1200 {
    text-align: left;
  }
  .txtRight-s1200 {
    text-align: right;
  }
  .txtCenter-s1200 {
    text-align: center;
  }
  .txtTop-s1200 {
    vertical-align: top;
  }
  .txtBottom-s1200 {
    vertical-align: bottom;
  }
  .txtMiddle-s1200 {
    vertical-align: middle;
  }
  .left-s1200 {
    float: left;
  }
  .right-s1200 {
    float: right;
  }
  .center-s1200 {
    margin-left: auto;
    margin-right: auto;
  }
  .boxFlexContainer-s1200 {
    display: flex;
    flex-wrap: wrap;
  }
  .boxFlexDirectionC-s1200 {
    display: flex;
    flex-direction: column;
  }
  .boxFlexDirectionR-s1200 {
    display: flex;
    flex-direction: row;
  }
  .spaceBetween-s1200 {
    justify-content: space-between;
  }
  .spaceAround-s1200 {
    justify-content: space-around;
  }
  .flexItemStart-s1200 {
    align-items: flex-start;
  }
  .flexItemCenter-s1200 {
    align-items: center;
  }
  .flexItemEnd-s1200 {
    align-items: flex-end;
  }
  .flexItem0-s1200 {
    order: 0;
  }
  .flexItem1-s1200 {
    order: 1;
  }
  .flexItem2-s1200 {
    order: 2;
  }
  .mt0-s1200 {
    margin-top: 0;
  }
  .mt1-s1200 {
    margin-top: 16px;
    margin-top: 1rem;
  }
  .mt2-s1200 {
    margin-top: 32px;
    margin-top: 2rem;
  }
  .mr0-s1200 {
    margin-right: 0;
  }
  .mr1-s1200 {
    margin-right: 16px;
    margin-right: 1rem;
  }
  .mr2-s1200 {
    margin-right: 32px;
    margin-right: 2rem;
  }
  .mb0-s1200 {
    margin-bottom: 0;
  }
  .mb1-s1200 {
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
  .mb2-s1200 {
    margin-bottom: 32px;
    margin-bottom: 2rem;
  }
  .ml0-s1200 {
    margin-left: 0;
  }
  .ml1-s1200 {
    margin-left: 16px;
    margin-left: 1rem;
  }
  .ml2-s1200 {
    margin-left: 32px;
    margin-left: 2rem;
  }
  .m0-s1200 {
    margin: 0;
  }
  .m1-s1200 {
    margin: 16px;
    margin: 1rem;
  }
  .m2-s1200 {
    margin: 32px;
    margin: 2rem;
  }
  .pt0-s1200 {
    padding-top: 0;
  }
  .pt1-s1200 {
    padding-top: 16px;
    padding-top: 1rem;
  }
  .pt2-s1200 {
    padding-top: 32px;
    padding-top: 2rem;
  }
  .pr0-s1200 {
    padding-right: 0;
  }
  .pr1-s1200 {
    padding-right: 16px;
    padding-right: 1rem;
  }
  .pr2-s1200 {
    padding-right: 32px;
    padding-right: 2rem;
  }
  .pb0-s1200 {
    padding-bottom: 0;
  }
  .pb1-s1200 {
    padding-bottom: 16px;
    padding-bottom: 1rem;
  }
  .pb2-s1200 {
    padding-bottom: 32px;
    padding-bottom: 2rem;
  }
  .pl0-s1200 {
    padding-left: 0;
  }
  .pl1-s1200 {
    padding-left: 16px;
    padding-left: 1rem;
  }
  .pl2-s1200 {
    padding-left: 32px;
    padding-left: 2rem;
  }
  .p0-s1200 {
    padding: 0;
  }
  .p1-s1200 {
    padding: 16px;
    padding: 1rem;
  }
  .p2-s1200 {
    padding: 32px;
    padding: 2rem;
  }
  .w1-s1200 {
    width: 1%;
  }
  .w2-s1200 {
    width: 2%;
  }
  .w3-s1200 {
    width: 3%;
  }
  .w5-s1200 {
    width: 5%;
  }
  .w10-s1200 {
    width: 10%;
  }
  .w15-s1200 {
    width: 15%;
  }
  .w20-s1200 {
    width: 20%;
  }
  .w25-s1200 {
    width: 25%;
  }
  .w30-s1200 {
    width: 30%;
  }
  .w33-s1200 {
    width: 33.333%;
  }
  .w40-s1200 {
    width: 40%;
  }
  .w43-s1200 {
    width: 43%;
  }
  .w45-s1200 {
    width: 45%;
  }
  .w49-s1200 {
    width: 49%;
  }
  .w50-s1200 {
    width: 50%;
  }
  .w55-s1200 {
    width: 55%;
  }
  .w60-s1200 {
    width: 60%;
  }
  .w66-s1200 {
    width: 66.666%;
  }
  .w70-s1200 {
    width: 70%;
  }
  .w75-s1200 {
    width: 75%;
  }
  .w80-s1200 {
    width: 80%;
  }
  .w85-s1200 {
    width: 85%;
  }
  .w90-s1200 {
    width: 90%;
  }
  .w95-s1200 {
    width: 95%;
  }
  .w100-s1200 {
    width: 100%;
  }
  .clearNone-s1200 {
    clear: none;
  }
  .hide-s1200 {
    display: none;
  }
}

#mainNav {
  background-color: #393939;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #e59a47;
}

#mainNav .navbar-brand {
  color: #e59a47;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f7e738;
}

#mainNav .navbar-brand.logo-ajk {
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url("../img/logos/logo-final-ajk.svg") no-repeat top left;
  background-size: contain;
}

@media only screen and (max-width: 1023px) {
  #mainNav .navbar-nav {
    margin-top: 1em;
  }
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #f9ed69;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-brand.logo-ajk {
    width: 150px;
    height: 150px;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #343a40;
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding: .5em;
    background-color: #393939;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #mainNav.navbar-shrink .navbar-brand.logo-ajk {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 70%;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
}

@media only screen and (min-width: 1200px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 85%;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/ajk-bg/ajk-bg-1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  color: #52bad5;
  font-size: 20px;
}

.association p {
  text-align: left;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(208, 239, 132, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  min-height: 135px;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
  font-size: 18px;
  color: #52bad5;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #e59a47;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #e59a47;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #e59a47;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  font-size: 20px;
  color: #52bad5;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-heading .date-title {
  color: #d0ef84;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.project h4 {
  color: #52bad5;
  font-size: 20px;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
