  <header class="masthead lazyload" data-bg="images/ajk-bg/ajk-bg-1.jpg">
    <div class="container">
      <div class="intro-text">
        <h1 class="mt0">ASSOCIATION DES JEUNES DE KAKANDÉ</h1>
        <blockquote class="intro-lead-in text-color_black">Après le verbe "aimer", "aider" est le plus beau&nbsp!
        </blockquote>
        <cite class="intro-heading text-uppercase text-color_black d-block">- Bertha Von Suttnerbeau</cite>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Qui sommes-nous</a>
      </div>
    </div>
  </header>