// Styling for the navbar
#mainNav {
  background-color: $black-ajk;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $orange-ajk;
    font-family: 'Caviar Dreams', 'Roboto Slab', Arial;
    //@include heading-font;
  }
  .navbar-brand {
    color: $orange-ajk;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($yellow-ajk, 10%);
    }

    &.logo-ajk {
      text-indent: -9999px;
      width: 80px;
      height: 80px;
      background: url('../img/logos/logo-final-ajk.svg') no-repeat top left;
      background-size: contain;
    }
  }
  .navbar-nav {
    @include mediaQuery(tablet-end) {
      margin-top: 1em;
    }
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 600;
        letter-spacing: 1px;
        color: white;
        font-family: 'Caviar Dreams', 'Roboto Slab', Arial;
        // @include heading-font;
        &.active,
        &:hover {
          color: $yellow-ajk;
        }
      }
    }
  }
}

@include mediaQuery(tablet-desktop) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &.logo-ajk {
        width: 150px;
        height: 150px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color:$gray-800;
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding: .5em;
      background-color: $black-ajk;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .navbar-brand {
        &.logo-ajk {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@include mediaQuery(desktop) {
  #mainNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 70%;
        }
      }
    }
    &.navbar-shrink {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $white;
          }
        }
      }
    }
  }
}

@include mediaQuery(desktop-wide) {
  #mainNav {
    .navbar-nav {
      .nav-item {
        .nav-link { font-size: 85%; }
      }
    }
  }
}
