// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
  color: $orange-ajk;
  font-size: 20px;
  font-family: 'Caviar Dreams', Arial, Helvetica, sans-serif;
}

.association {
  p {
    text-align: left;
  }
}

.partenary-section {
  h4 {
    font-size: 1.3em;
    font-family: 'Caviar Dreams', Arial, Helvetica, sans-serif;
   }
}
