// Quelques exemples
@include mediaQuery(mobile) {
    .block-s320 {
        display: block;
    }
    .inline-s320 {
        display: inline;
    }
    .txtLeft-s320 {
        text-align: left;
    }
    .txtRight-s320 {
        text-align: right;
    }
    .txtCenter-s320 {
        text-align: center;
    }
    .txtTop-s320 {
        vertical-align: top;
    }
    .txtBottom-s320 {
        vertical-align: bottom;
    }
    .txtMiddle-s320 {
        vertical-align: middle;
    }
    .left-s320 {
        float: left;
    }
    .right-s320 {
        float: right
    }
    .center-s320 {
        margin-left: auto;
        margin-right: auto
    }
    .mt0-s320 {
        margin-top: 0;
    }
    .mt1-s320 {
        margin-top: 1rem;
    }
    .mt2-s320 {
        margin-top: 2rem;
    }
    .mr0-s320 {
        margin-right: 0;
    }
    .mr1-s320 {
        margin-right: 1rem;
    }
    .mr2-s320 {
        margin-right: 2rem;
    }
    .mb0-s320 {
        margin-bottom: 0;
    }
    .mb1-s320 {
        margin-bottom: 1rem;
    }
    .mb2-s320 {
        margin-bottom: 2rem;
    }
    .ml0-s320 {
        margin-left: 0;
    }
    .ml1-s320 {
        margin-left: 1rem;
    }
    .ml2-s320 {
        margin-left: 2rem;
    }
    .m0-s320 {
        margin: 0;
    }
    .m1-s320 {
        margin: 1rem;
    }
    .m2-s320 {
        margin: 2rem;
    }
    .pt0-s320 {
        padding-top: 0;
    }
    .pt1-s320 {
        padding-top: 1rem;
    }
    .pt2-s320 {
        padding-top: 2rem;
    }
    .pr0-s320 {
        padding-right: 0;
    }
    .pr1-s320 {
        padding-right: 1rem;
    }
    .pr2-s320 {
        padding-right: 2rem;
    }
    .pb0-s320 {
        padding-bottom: 0;
    }
    .pb1-s320 {
        padding-bottom: 1rem;
    }
    .pb2-s320 {
        padding-bottom: 2rem;
    }
    .pl0-s320 {
        padding-left: 0;
    }
    .pl1-s320 {
        padding-left: 1rem;
    }
    .pl2-s320 {
        padding-left: 2rem;
    }
    .p0-s320 {
        padding: 0;
    }
    .p1-s320 {
        padding: 1rem;
    }
    .p2-s320 {
        padding: 2rem;
    }
    .w100-s320 {
        width: 100%;
    }
    .clearNone-s320 {
        clear: none;
    }
    .hide-s320 {
        display: none;
    }
}

@include mediaQuery(mobile-landscape) {
    .block-s480 {
        display: block;
    }
    .inline-s480 {
        display: inline;
    }
    .txtLeft-s480 {
        text-align: left;
    }
    .txtRight-s480 {
        text-align: right;
    }
    .txtCenter-s480 {
        text-align: center;
    }
    .txtTop-s480 {
        vertical-align: top;
    }
    .txtBottom-s480 {
        vertical-align: bottom;
    }
    .txtMiddle-s480 {
        vertical-align: middle;
    }
    .left-s480 {
        float: left;
    }
    .right-s480 {
        float: right
    }
    .center-s480 {
        margin-left: auto;
        margin-right: auto
    }
    .mt0-s480 {
        margin-top: 0;
    }
    .mt1-s480 {
        margin-top: 1rem;
    }
    .mt2-s480 {
        margin-top: 2rem;
    }
    .mr0-s480 {
        margin-right: 0;
    }
    .mr1-s480 {
        margin-right: 1rem;
    }
    .mr2-s480 {
        margin-right: 2rem;
    }
    .mb0-s480 {
        margin-bottom: 0;
    }
    .mb1-s480 {
        margin-bottom: 1rem;
    }
    .mb2-s480 {
        margin-bottom: 2rem;
    }
    .ml0-s480 {
        margin-left: 0;
    }
    .ml1-s480 {
        margin-left: 1rem;
    }
    .ml2-s480 {
        margin-left: 2rem;
    }
    .m0-s480 {
        margin: 0;
    }
    .m1-s480 {
        margin: 1rem;
    }
    .m2-s480 {
        margin: 2rem;
    }
    .pt0-s480 {
        padding-top: 0;
    }
    .pt1-s480 {
        padding-top: 1rem;
    }
    .pt2-s480 {
        padding-top: 2rem;
    }
    .pr0-s480 {
        padding-right: 0;
    }
    .pr1-s480 {
        padding-right: 1rem;
    }
    .pr2-s480 {
        padding-right: 2rem;
    }
    .pb0-s480 {
        padding-bottom: 0;
    }
    .pb1-s480 {
        padding-bottom: 1rem;
    }
    .pb2-s480 {
        padding-bottom: 2rem;
    }
    .pl0-s480 {
        padding-left: 0;
    }
    .pl1-s480 {
        padding-left: 1rem;
    }
    .pl2-s480 {
        padding-left: 2rem;
    }
    .p0-s480 {
        padding: 0;
    }
    .p1-s480 {
        padding: 1rem;
    }
    .p2-s480 {
        padding: 2rem;
    }
    .w100-s480 {
        width: 100%;
    }
    .clearNone-s480 {
        clear: none;
    }
    .hide-s480 {
        display: none;
    }
}

@include mediaQuery(tablet) {
    .block-s768 {
        display: block;
    }
    .inline-s768 {
        display: inline;
    }
    .txtLeft-s768 {
        text-align: left;
    }
    .txtRight-s768 {
        text-align: right;
    }
    .txtCenter-s768 {
        text-align: center;
    }
    .txtTop-s768 {
        vertical-align: top;
    }
    .txtBottom-s768 {
        vertical-align: bottom;
    }
    .txtMiddle-s768 {
        vertical-align: middle;
    }
    .left-s768 {
        float: left;
    }
    .right-s768 {
        float: right
    }
    .center-s768 {
        margin-left: auto;
        margin-right: auto
    }
    .mt0-s768 {
        margin-top: 0;
    }
    .mt1-s768 {
        margin-top: 1rem;
    }
    .mt2-s768 {
        margin-top: 2rem;
    }
    .mr0-s768 {
        margin-right: 0;
    }
    .mr1-s768 {
        margin-right: 1rem;
    }
    .mr2-s768 {
        margin-right: 2rem;
    }
    .mb0-s768 {
        margin-bottom: 0;
    }
    .mb1-s768 {
        margin-bottom: 1rem;
    }
    .mb2-s768 {
        margin-bottom: 2rem;
    }
    .ml0-s768 {
        margin-left: 0;
    }
    .ml1-s768 {
        margin-left: 1rem;
    }
    .ml2-s768 {
        margin-left: 2rem;
    }
    .m0-s768 {
        margin: 0;
    }
    .m1-s768 {
        margin: 1rem;
    }
    .m2-s768 {
        margin: 2rem;
    }
    .pt0-s768 {
        padding-top: 0;
    }
    .pt1-s768 {
        padding-top: 1rem;
    }
    .pt2-s768 {
        padding-top: 2rem;
    }
    .pr0-s768 {
        padding-right: 0;
    }
    .pr1-s768 {
        padding-right: 1rem;
    }
    .pr2-s768 {
        padding-right: 2rem;
    }
    .pb0-s768 {
        padding-bottom: 0;
    }
    .pb1-s768 {
        padding-bottom: 1rem;
    }
    .pb2-s768 {
        padding-bottom: 2rem;
    }
    .pl0-s768 {
        padding-left: 0;
    }
    .pl1-s768 {
        padding-left: 1rem;
    }
    .pl2-s768 {
        padding-left: 2rem;
    }
    .p0-s768 {
        padding: 0;
    }
    .p1-s768 {
        padding: 1rem;
    }
    .p2-s768 {
        padding: 2rem;
    }
    .w100-s768 {
        width: 100%;
    }
    .clearNone-s768 {
        clear: none;
    }
    .hide-s768 {
        display: none;
    }
}

@include mediaQuery(desktop) {
    .block-s992 {
        display: block;
    }
    .inline-s992 {
        display: inline;
    }
    .txtLeft-s992 {
        text-align: left;
    }
    .txtRight-s992 {
        text-align: right;
    }
    .txtCenter-s992 {
        text-align: center;
    }
    .txtTop-s992 {
        vertical-align: top;
    }
    .txtBottom-s992 {
        vertical-align: bottom;
    }
    .txtMiddle-s992 {
        vertical-align: middle;
    }
    .left-s992 {
        float: left;
    }
    .right-s992 {
        float: right
    }
    .center-s992 {
        margin-left: auto;
        margin-right: auto
    }
    .mt0-s992 {
        margin-top: 0;
    }
    .mt1-s992 {
        margin-top: 1rem;
    }
    .mt2-s992 {
        margin-top: 2rem;
    }
    .mr0-s992 {
        margin-right: 0;
    }
    .mr1-s992 {
        margin-right: 1rem;
    }
    .mr2-s992 {
        margin-right: 2rem;
    }
    .mb0-s992 {
        margin-bottom: 0;
    }
    .mb1-s992 {
        margin-bottom: 1rem;
    }
    .mb2-s992 {
        margin-bottom: 2rem;
    }
    .ml0-s992 {
        margin-left: 0;
    }
    .ml1-s992 {
        margin-left: 1rem;
    }
    .ml2-s992 {
        margin-left: 2rem;
    }
    .m0-s992 {
        margin: 0;
    }
    .m1-s992 {
        margin: 1rem;
    }
    .m2-s992 {
        margin: 2rem;
    }
    .pt0-s992 {
        padding-top: 0;
    }
    .pt1-s992 {
        padding-top: 1rem;
    }
    .pt2-s992 {
        padding-top: 2rem;
    }
    .pr0-s992 {
        padding-right: 0;
    }
    .pr1-s992 {
        padding-right: 1rem;
    }
    .pr2-s992 {
        padding-right: 2rem;
    }
    .pb0-s992 {
        padding-bottom: 0;
    }
    .pb1-s992 {
        padding-bottom: 1rem;
    }
    .pb2-s992 {
        padding-bottom: 2rem;
    }
    .pl0-s992 {
        padding-left: 0;
    }
    .pl1-s992 {
        padding-left: 1rem;
    }
    .pl2-s992 {
        padding-left: 2rem;
    }
    .p0-s992 {
        padding: 0;
    }
    .p1-s992 {
        padding: 1rem;
    }
    .p2-s992 {
        padding: 2rem;
    }
    .pt0-s992 {
        padding-top: 0;
    }
    .pt1-s992 {
        padding-top: 1rem;
    }
    .pt2-s992 {
        padding-top: 2rem;
    }
    .pr0-s992 {
        padding-right: 0;
    }
    .pr1-s992 {
        padding-right: 1rem;
    }
    .pr2-s992 {
        padding-right: 2rem;
    }
    .pb0-s992 {
        padding-bottom: 0;
    }
    .pb1-s992 {
        padding-bottom: 1rem;
    }
    .pb2-s992 {
        padding-bottom: 2rem;
    }
    .pl0-s992 {
        padding-left: 0;
    }
    .pl1-s992 {
        padding-left: 1rem;
    }
    .pl2-s992 {
        padding-left: 2rem;
    }
    .p0-s992 {
        padding: 0;
    }
    .p1-s992 {
        padding: 1rem;
    }
    .p2-s992 {
        padding: 2rem;
    }
    .w100-s992 {
        width: 100%;
    }
    .clearNone-s992 {
        clear: none;
    }
    .hide-s992 {
        display: none;
    }
}

@include mediaQuery(desktop-wide) {
    .block-s1200 {
        display: block;
    }
    .inline-s1200 {
        display: inline;
    }
    .txtLeft-s1200 {
        text-align: left;
    }
    .txtRight-s1200 {
        text-align: right;
    }
    .txtCenter-s1200 {
        text-align: center;
    }
    .txtTop-s1200 {
        vertical-align: top;
    }
    .txtBottom-s1200 {
        vertical-align: bottom;
    }
    .txtMiddle-s1200 {
        vertical-align: middle;
    }
    .left-s1200 {
        float: left;
    }
    .right-s1200 {
        float: right
    }
    .center-s1200 {
        margin-left: auto;
        margin-right: auto
    }
    .mt0-s1200 {
        margin-top: 0;
    }
    .mt1-s1200 {
        margin-top: 1rem;
    }
    .mt2-s1200 {
        margin-top: 2rem;
    }
    .mr0-s1200 {
        margin-right: 0;
    }
    .mr1-s1200 {
        margin-right: 1rem;
    }
    .mr2-s1200 {
        margin-right: 2rem;
    }
    .mb0-s1200 {
        margin-bottom: 0;
    }
    .mb1-s1200 {
        margin-bottom: 1rem;
    }
    .mb2-s1200 {
        margin-bottom: 2rem;
    }
    .ml0-s1200 {
        margin-left: 0;
    }
    .ml1-s1200 {
        margin-left: 1rem;
    }
    .ml2-s1200 {
        margin-left: 2rem;
    }
    .m0-s1200 {
        margin: 0;
    }
    .m1-s1200 {
        margin: 1rem;
    }
    .m2-s1200 {
        margin: 2rem;
    }
    .pt0-s1200 {
        padding-top: 0;
    }
    .pt1-s1200 {
        padding-top: 1rem;
    }
    .pt2-s1200 {
        padding-top: 2rem;
    }
    .pr0-s1200 {
        padding-right: 0;
    }
    .pr1-s1200 {
        padding-right: 1rem;
    }
    .pr2-s1200 {
        padding-right: 2rem;
    }
    .pb0-s1200 {
        padding-bottom: 0;
    }
    .pb1-s1200 {
        padding-bottom: 1rem;
    }
    .pb2-s1200 {
        padding-bottom: 2rem;
    }
    .pl0-s1200 {
        padding-left: 0;
    }
    .pl1-s1200 {
        padding-left: 1rem;
    }
    .pl2-s1200 {
        padding-left: 2rem;
    }
    .p0-s1200 {
        padding: 0;
    }
    .p1-s1200 {
        padding: 1rem;
    }
    .p2-s1200 {
        padding: 2rem;
    }
    .w100-s1200 {
        width: 100%;
    }
    .clearNone-s1200 {
        clear: none;
    }
    .hide-s1200 {
        display: none;
    }
}
