  <section class="bg-light parralax-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-4">
          <h2 class="section-heading text-uppercase">Nos actions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/dons-alimentaires-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Opérations Dons Alimentaires</h4>
              <p class="text-muted">Récolte de fonds pour les démunis</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/carritatif-ajk-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Evènements caritatif</h4>
              <p class="text-muted">Tournoi de foot - Barbecue</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/assoc-presentation-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Soirée de présentation</h4>
              <p class="text-muted">Projection des projets</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/voyage-guinee-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Voyage en Guinée</h4>
              <p class="text-muted">Réportage sur le système sanitaire</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/gala-ajk-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Présentation du Projet du dispensaire</h4>
              <p class="text-muted">Récolte de fonds</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/travaux-ajk-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Lancement de la construction</h4>
              <p class="text-muted">Construction du futur poste de santé</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/travaux-ajk-generaliste-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>1<sup>ère</sup> phase de construction du pôle généraliste</h4>
              <p class="text-muted">Pôle généraliste</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-card boxShadow">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid lazyload" data-src="images/portfolio/travaux-ajk-generaliste-2-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>2<sup>ème</sup> phase de construction du pôle généraliste</h4>
              <p class="text-muted">Pôle généraliste</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mt-4">
        <div class="col-lg-12 text-center">
          <h3 class="section-subheading text-muted">Chronologie des actions réalisées</h3>
        </div>
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/dons-alimentaires-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Mai 2016</span>
                  <h4 class="subheading">Opérations Dons Alimentaires</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Récolte de fonds; achat denrées alimentaires pour les populations démunies de Kakandé
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/carritatif-ajk-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Juillet 2016</span>
                  <h4 class="subheading">Evènement caritatif</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Tournois de foot – Barbecue</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/presentation-ajk-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Avril 2017</span>
                  <h4 class="subheading">Présentation de l'association</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Présentation générale de l’association et de ses projets</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/voyage-guinee-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Juillet 2017</span>
                  <h4 class="subheading">Voyage en Guinée</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Voyage reportage et enquête en Guinée sur le Système de santé.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/gala-ajk-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Octobre 2017</span>
                  <h4 class="subheading">Soirée de présentation du Dispensaire</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Récolte de fonds</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/travaux-ajk-actions.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Février 2018</span>
                  <h4 class="subheading">Lancement de la construction</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Construction du futur poste de santé<br />
                    Pôle Pharmacie</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/travaux-ajk-2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Janvier 2019</span>
                  <h4 class="subheading">1<sup>ère</sup> phase de construction du pôle généraliste</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Pôle Généraliste</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid lazyload" data-src="images/about/travaux-ajk-3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="d-block bold date-title">Juillet 2020</span>
                  <h4 class="subheading">2<sup>ème</sup> phase de construction du pôle généraliste</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Pôle Généraliste</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <h4>Notre
                  <br>Aventure
                  <br>continue !</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parralax-section--dbk2 rellax" data-rellax-speed="-2" data-rellax-zindex="-6"></div>
  </section>