  <section class="bg-light medias" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Médias</h2>
          <h3 class="section-subheading text-muted">Presse, Vidéo, Réseaux Sociaux</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div id="video-container"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="section-subheading text-muted">Suivez-nous !</h3>
          <ul class="listNone follow-us">
            <li>
              <a href="mailto:contact@associationjeuneskakande.org">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/AJK-Association-des-Jeunes-de-kakand%C3%A9-1890930947858951/"
                target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/association.ajk/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/ajk_association" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCLvj9n7eiTphuqb_oaZTMxA" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="iframe-container center">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAJK-Association-des-Jeunes-de-kakand%C3%A9-1890930947858951%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
              width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h3 class="section-subheading text-muted">Ils parlent de nous</h3>
            <img class="responsive-img-other lazyload" data-src="images/annexes/media-ajk-friaguinee.jpg" alt="media ajk">
            <a class="d-block mt-3" target="_blank"
              href="http://www.friaguinee.net/index.php/2018/02/14/boke-lancement-travaux-de-construction-dun-centre-de-sante-a-dabankou/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-external-link-alt fa-stack-1x fa-inverse"></i>
              </span>
              Article de Friaguinee.net à propos du lancement des travaux de construction de notre futur centre de
              santé.</a>
          </div>
        </div>
      </div>
    </div>
  </section>