  <section id="about" class="project">
    <div class="parralax-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Le projet : Centre de santé</h2>
            <h3 class="section-subheading text-muted">Construction d'un poste de santé dans le village Dabankou</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Contexte</h3>
            <p>
              <img class="right responsive-map-img lazyload" data-src="images/project/guinee-map.jpg" alt="guinee-map">
              La Guinée, qu’on appelle aussi Guinée-Conakry est un pays de la côte ouest africaine. Parfois qualifiée de «
              scandale géologique
              », elle dispose de richesses hydrographiques immenses (« château d’eau de l’Afrique de l’Ouest ») et d’un
              potentiel minier
              largement sous- exploité.<br><br />
              Le pays est compté parmi les plus pauvres du continent africain avec environs 12,5 millions d’habitants.
              En Guinée, le taux de mortalité materno-infantile
              reste très élevé 724/100 000 femmes meurent en donnant la vie et 1/8 des enfants meurent avant d’atteindre
              l’âge de 5 ans.
              Les principales causes de mortalité en Guinée sont ; le paludisme, les I.R.A (Infection Respiratoire Aigüe),
              les diarrhées
              et le VIH. Le système de santé en Guinée reste encore défaillant.
            </p>
            <p>Kakande est une zone habitée à l’ouest de la région de Boké.</p>
            <div class="text-center mb-4">
            </div>
          </div>
          <div class="col-lg-12">
            <h4 class="service-heading">Kakandé</h4>
            <p>Elle regroupe 16 icts (plus précisément un ensemble de villages qui compte entre 3000 et 9000
              habitants). Dabankou est
              l’un de ces villages et compte environ 7000 habitants. Il représente le carrefour économique entre tous les
              petits villages
              qui l’entoure.</p>
          </div>
          <div class="col-lg-12">
            <h4 class="service-heading">Dabankou</h4>
            <div class="text-center mb-4">
              <span class="d-block bold italic mt-3">Carte du village de Dabankou vue du ciel</span>
            </div>
            <p>
              <img class="float-md-left responsive-map-img mb-3 mr-md-3 roundbox boxShadow lazyload"
                data-src="images/project/dabankou-map.png" alt="dabankou-map">
              Les habitants du village manquent de moyen ; ils sont généralement agriculteurs et cultivent arachides,
              piments, aubergines,
              gombos et huile de palme. Les terres sont très fertiles mais les habitants ont malheureusement du mal à vivre
              pleinement de
              leurs activités. L’utilisation d’outils traditionnels ne permet pas de faire de grand rendement.<br />
              Le village a connu dernièrement
              un départ considérable de jeunes hommes vers l’Europe, laissant derrière eux femmes, enfants et personnes
              âgées. La problématique
              majeure cependant, subsiste dans le manque d’un établissement de santé délivrant des soins adéquats.
            </p>
          </div>
        </div>
      </div>
      <div class="parralax-section--dbk3 rellax" data-rellax-speed="-2" data-rellax-zindex="6"></div>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Le Projet</h3>
            <p>
              L’ <strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> en collaboration avec l'<strong>UCUD (Union de la
                Communauté Urbaine de Dabankou)</strong> a pour
              objectif la réalisation d’un poste de santé à Dabankou afin de pallier aux besoins médicaux des habitants.
            </p>
            <p>
              Nous souhaitons assurer un poste de santé pourvu en équipements nécessaires à une prise en charge correcte
              et réglementée,
              accessible pour tous les habitants de Dabankou et les villages alentours.
            </p>
            <p>
              A travers ce projet, l’association souhaite faire prendre conscience aux jeunes natifs des villages, qu’ils
              peuvent agir
              sur leur quotidien.<br />
              En prenant part au projet, et en s’intéressant à leur environnement, ils pourront être à même de réaliser
              des projets à leur échelle, et de leurs propres initiatives.
            </p>
            <h3 class="section-subheading text-muted">Objectif</h3>
            <ul>
              <li>Offrir une structure de santé convenable aux habitants de Kakandé</li>
              <li>Approvisionner en eau salubre la structure</li>
              <li>Promouvoir une architecture bioclimatique</li>
              <li>Créer de l’emploi et former les jeunes à de nouvelles méthodes de construction</li>
            </ul>
          </div>
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Etat actuel du dispensaire</h3>
            <p>Le village possède actuellement un poste de sante vétuste construit il y a 27 ans, et présentant un risque
              d’effondrement.
              Le bâtiment n’est pourvu ni en électricité, ni en eau courante, obligeant le médecin chef à aller quémander
              l’eau auprès
              des habitants résidant à proximité.</p>
            <p>Le poste de santé ne dispose d’aucune pharmacie, ce qui contraint à stocker les médicaments dans la
              réception, en pleine
              chaleur. Lors de notre voyage sur place, nous avons recueilli les témoignages des habitants se plaignant du
              manque de médicaments.
              <br />Les femmes enceintes doivent apporter elles-mêmes leurs eaux et leurs draps pour l’accouchement. Le
              poste n’étant pas électrifié,
              celles qui sont sur le point d’accoucher la nuit, sont référées en ville.</p>
            <p>Cette situation contraint les habitants qui en ont la possibilité et les moyens à se déplacer dans les
              différents postes
              de santé des autres icts voire des grandes villes (Kamsar, Boké, Conakry,..).</p>
            <span class="d-block bold italic mt-3 text-center d-md-none">(Vous pouvez slider les images vers la droite ou la
              gauche)</span>
            <div class="glide mt-4">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide"><img class="lazyload" data-src="images/old-dispensaire/old-dispensaires-1.JPG"
                      alt="ancien dispensaire ajk 1"></li>
                  <li class="glide__slide"><img class="lazyload" data-src="images/old-dispensaire/old-dispensaires-2.JPG"
                      alt="ancien dispensaire ajk 2"></li>
                  <li class="glide__slide"><img class="lazyload" data-src="images/old-dispensaire/old-dispensaires-3.JPG"
                      alt="ancien dispensaire ajk 3"></li>
                  <li class="glide__slide"><img class="lazyload" data-src="images/old-dispensaire/old-dispensaires-4.JPG"
                      alt="ancien dispensaire ajk 4"></li>
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left"></i></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
              </div>
              <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Projet architectural</h3>
            <p>
              <img class="right lazyload" data-src="images/annexes/plan-programme-ajk.jpg" alt="plan programme ajk">
              Dans le cadre architectural, les éléments du programme sont implantés dans quatre volumes correspondant aux
              différents pôles.
              La disposition de ces volumes de manière éclatée permet de gérer une ventilation naturelle et de générer des
              espaces extérieurs
              à différentes échelles.
              <br />
              <br />
              Les pôles sont:
              <ul>
                <li>Pôle Pharmacie</li>
                <li>Pôle Généraliste</li>
                <li>Pôle Maternité</li>
                <li>Pôle Spécialiste</li>
              </ul>
              <br />
              Ces bâtiments ont été conçus en plain-pied (RDC) afin de faciliter la circulation des usagers. Ces
              architectures sont surélevées
              par un socle en béton de 64cm afin d'éviter la remontée d'humidité par capillarité. Toutefois, des rampes et
              des escaliers
              sont imaginés pour faciliter l'accès à tout type d'usager. Ce socle revêt ainsi la fonction de cloître,
              ibuant les différents
              pôles.
            </p>
          </div>
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Particularité</h3>
            <p>Ce projet architectural s'inscrit dans son contexte à travers deux axes : le matériau et la gestion du
              climat tropical.</p>
            <p>Sur le plan du matériau, la conception s'appuie sur une relecture contemporaine du tissu local en utilisant
              la terre (la
              latérite) pour fabriquer des briques. Dans la mise en oeuvre, les murs en brique permettent de générer une
              inertie thermique
              qui favorise le rafraichissement des pièces.</p>
            <p>Du point de vue climatique, nous avons imaginé une double toiture, l'une en voûtes comme une interface
              régulatrice des flux
              d'airs, l'autre en charpente bois recouvert de tôle. Cette deuxième couverture découle des volumes bâtis
              afin de générer
              une ventilation naturelle. De plus, par la disposition des volumes les uns par rapport aux autres, il y a
              naturellement un
              jeu d'ombre qui s'instaure et qui participe à la gestion du climat.</p>
            <div class="text-center mt-4">
              <img class="responsive-img-maquette boxShadow w100 lazyload" data-src="images/annexes/maquette-dispensaire-ajk.jpg"
                alt="maquette dispensaire ajk" />
              <span class="d-block bold italic mt-3">Maquette du futur poste de santé (échelle 1/100eme)</span>
            </div>
          </div>
          <div class="col-lg-12">
            <h3 class="section-subheading text-muted">Début des travaux de construction</h3>
            <p>Grace aux dons récoltés lors de notre diner de charité du 7 Octobre 2017, nous avons pu entamer les
              travaux. La construction
              a débuté par le pôle pharmacie, qui a également servi de chantier école.</p>
            <div class="mt-4">
              <h4 class="service-heading">Pôle Pharmacie</h4>
              <p>Le chantier école a débuté avec le recrutement des jeunes et de travailleurs qualifiés car étant la
                partie la plus
                importante du projet, elle est consacrée à la formation des jeunes bénévoles et à de nouvelles méthodes de
                construction
                formant la particularité de notre projet. Les fondations, les murs, la charpente et le toit ont été mis en
                place pour
                cette première phase de construction du pôle pharmacie.</p>
              <span class="d-block bold italic mt-3 text-center d-md-none">(Vous pouvez slider les images vers la droite ou
                la gauche)</span>
              <div class="glide mt-4">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-1.jpg"
                        alt="nouveau dispensaire ajk 1"></li>
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-2.jpg"
                      alt="nouveau dispensaire ajk 2"></li>
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-3.jpg"
                        alt="nouveau dispensaire ajk 3"></li>
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-4.JPG"
                        alt="nouveau dispensaire ajk 4"></li>
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-5.JPG"
                        alt="nouveau dispensaire ajk 5"></li>
                    <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-6.JPG"
                        alt="nouveau dispensaire ajk 6"></li>
                  </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left"></i></button>
                  <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                  <button class="glide__bullet" data-glide-dir="=0"></button>
                  <button class="glide__bullet" data-glide-dir="=1"></button>
                  <button class="glide__bullet" data-glide-dir="=2"></button>
                  <button class="glide__bullet" data-glide-dir="=3"></button>
                  <button class="glide__bullet" data-glide-dir="=4"></button>
                  <button class="glide__bullet" data-glide-dir="=5"></button>
                </div>
              </div>
              <div class="mt-4">
                <h4 class="service-heading">Pôle Généraliste</h4>
                <p class="bold">1<sup>ère</sup> phase</p>
                <p>La seconde étape est enclenchée ! Fort de cette première expérience, nous avons démarré la 1<sup>ère</sup> de construction
                  du pôle
                  généraliste. C'est avec entrain que les ouvriers et les jeunes des villages ont
                  pu mettre en
                  pratique la formation aux différentes techniques de construction acquises lors du chantier école. Cette phase se terminera par la pose complète des murs et de la toiture.</p>
                <span class="block bold italic mt-3 text-center d-md-none">(Vous pouvez slider les images vers la droite ou la gauche)</span>
                <div class="glide mt-4">
                  <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides">
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-8.JPG"
                          alt="nouveau dispensaire ajk 8"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-9.JPG"
                          alt="nouveau dispensaire ajk 9"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-10.JPG"
                          alt="nouveau dispensaire ajk 10"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-11.JPG"
                          alt="nouveau dispensaire ajk 11"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-12.JPG"
                          alt="nouveau dispensaire ajk 12"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-13.JPG"
                          alt="nouveau dispensaire ajk 13"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-14.JPG"
                          alt="nouveau dispensaire ajk 14"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-15.JPG"
                          alt="nouveau dispensaire ajk 15"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-16.JPG"
                          alt="nouveau dispensaire ajk 16"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-17.JPG"
                          alt="nouveau dispensaire ajk 17"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-18.JPG"
                          alt="nouveau dispensaire ajk 18"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-19.JPG"
                          alt="nouveau dispensaire ajk 19"></li>
                    </ul>
                  </div>
                  <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left"></i></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
                  </div>
                  <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                    <button class="glide__bullet" data-glide-dir="=4"></button>
                    <button class="glide__bullet" data-glide-dir="=5"></button>
                    <button class="glide__bullet" data-glide-dir="=6"></button>
                    <button class="glide__bullet" data-glide-dir="=7"></button>
                    <button class="glide__bullet" data-glide-dir="=8"></button>
                    <button class="glide__bullet" data-glide-dir="=9"></button>
                    <button class="glide__bullet" data-glide-dir="=10"></button>
                    <button class="glide__bullet" data-glide-dir="=11"></button>
                    <button class="glide__bullet" data-glide-dir="=12"></button>
                  </div>
                </div>
                <p class="mt-4 bold">2<sup>ème</sup> phase</p>
                <p>Place à la troisième étape ! Nous avons opéré un changement d’architecture au niveau de la toiture des bâtiments en construction 
                  (y compris le pôle pharmacie) pour une plus grande flexibilité.
                  Un petit plus pour ce pôle généraliste : un banc extérieur a été ajouter sous la véranda.</p>
                <span class="block bold italic mt-3 text-center d-md-none">(Vous pouvez slider les images vers la droite ou la gauche)</span>
                <div class="glide mt-4">
                  <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides">
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-20.jpg"
                          alt="nouveau dispensaire ajk 20"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-21.jpg"
                          alt="nouveau dispensaire ajk 21"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-22.jpg"
                          alt="nouveau dispensaire ajk 22"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-23.jpg"
                          alt="nouveau dispensaire ajk 23"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-25.JPG"
                          alt="nouveau dispensaire ajk 25"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-26.JPG"
                          alt="nouveau dispensaire ajk 26"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-28.jpg"
                          alt="nouveau dispensaire ajk 28"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-30.jpg"
                          alt="nouveau dispensaire ajk 30"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-31.jpg"
                          alt="nouveau dispensaire ajk 31"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-32.jpg"
                          alt="nouveau dispensaire ajk 32"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-35.jpg"
                          alt="nouveau dispensaire ajk 35"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-36.jpg"
                          alt="nouveau dispensaire ajk 36"></li>
                      <li class="glide__slide"><img class="lazyload" data-src="images/new-dispensaire/dispensaire-kakande-ajk-37.jpg"
                          alt="nouveau dispensaire ajk 37"></li>
                    </ul>
                  </div>
                  <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left"></i></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
                  </div>
                  <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                    <button class="glide__bullet" data-glide-dir="=4"></button>
                    <button class="glide__bullet" data-glide-dir="=5"></button>
                    <button class="glide__bullet" data-glide-dir="=6"></button>
                    <button class="glide__bullet" data-glide-dir="=7"></button>
                    <button class="glide__bullet" data-glide-dir="=8"></button>
                    <button class="glide__bullet" data-glide-dir="=9"></button>
                    <button class="glide__bullet" data-glide-dir="=10"></button>
                    <button class="glide__bullet" data-glide-dir="=11"></button>
                    <button class="glide__bullet" data-glide-dir="=12"></button>
                    <button class="glide__bullet" data-glide-dir="=13"></button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>