<!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Opérations Dons Alimentaires</h2>
                <p class="item-intro text-muted">Récolte de fonds pour les démunis / Maraude</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/dons-alimentaires-ajk-full.jpg" alt="">
                <p>
                  L’opération dons alimentaires est mise en place en faveur des familles les plus démunies des villages
                  de Dabankou et de
                  ses alentours (région de Boké, Guinée). Nous organisons la récolte auprès des membres de
                  l’association, des bénévoles ainsi
                  qu’à toute personne désireuse de participer. Les denrées sont variées ; sac de riz, sauce, sucre,
                  lait, … Cette action est
                  renouvelée chaque année dû à l’engouement et à la générosité des donateurs.
                  L’<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> a aussi effectué une maraude à Paris en faveur
                  des migrants
                </p>
                <ul class="list-inline">
                  <li>Date : Avril/Mai 2016</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Evènements caritatif</h2>
                <p class="item-intro text-muted">Tournoi de foot / Barbecue</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/carritatif-ajk-full.jpg" alt="">
                <p>
                  Afin de fédérer la diaspora guinéenne ainsi, un tournoi de foot / Barbecue est mis en place chaque
                  été. Autour de grillades
                  et de snack, le tournoi mets en compétition plusieurs équipes s’affrontant joyeusement et avec des
                  récompenses conséquentes.
                  C’est un évènement qui a du succès et rassemble toujours autant de monde. Petits et grands se
                  rencontrent dans une ambiance
                  conviviale, gourmande mais surtout sportive ! La buvette est accessible avec des prix mini, et
                  plusieurs animations ont lieu
                  en parallèle du tournoi. Tous les fonds sont destinés au projet de construction de dispensaire de
                  santé. L’occasion de joindre
                  l’utile à l’agréable.
                </p>
                <ul class="list-inline">
                  <li>Date : Juillet 2016</li>
                  <li>Juillet 2017</li>
                  <li>Juillet 2018</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Soirée de présentation</h2>
                <p class="item-intro text-muted">Projection des projets</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/assoc-presentation-full.jpg" alt="">
                <p>
                  L’<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> AJK a organisé une soirée de présentation de
                  l’association. Ce fut l’occasion d’échanger avec le public. Au travers de
                  débats et de questions-réponses sur nos projets, nous avons pu expliquer notre but, faire participer
                  le public et déclencher
                  de nouvelles adhésions. Un temps plus informel a ensuite eu lieu pour laisser place à la détente et à
                  un moment plus festif
                  pour se restaurer, et pour en apprendre plus les uns les autres.
                </p>
                <ul class="list-inline">
                  <li>Date: Avril 2017</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Voyages réportages</h2>
                <p class="item-intro text-muted">Réportage sur le système sanitaire de Kakandé</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/voyage-guinee-full.jpg" alt="">
                <p>
                  L’<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> a réalisé son premier voyage en guinée en juillet
                  2017, dans la perspective de la mise
                  en place du projet de Construction de centre de santé dans le village de Dabankou, destiné à
                  l’ensemble des habitants de
                  Kakandé. Une équipe de deux personnes s’est rendu sur place afin de prendre un premier contact avec
                  les autorités locales,
                  rencontrer le personnel médical, annoncer le projet aux populations et pour la réalisation d’un
                  documentaire amateur ;
                  sur les conditions sanitaire en guinée et dans les villages de Kakandé à Boké. Le voyage fut un
                  véritable succès, les autorités
                  locales et les habitants des villages ont accueilli le projet avec joie et beaucoup d’émotion. Ils
                  nous ont ainsi donné
                  leurs autorisations et soutiens pour le projet.
                </p>
                <ul class="list-inline">
                  <li>Date: Juillet 2017</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Présentation du Projet du dispensaire</h2>
                <p class="item-intro text-muted">Présentation et récolte de fonds</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/gala-ajk-full.jpg" alt="">
                <p>
                  L'<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> a organisé son premier dîner de charité le 7
                  octobre 2017. Ce dîner de charité était un évènement caritatif qui
                  a permis de faire une présentation du projet de centre de santé et récolter des fonds. L’événement
                  était principalement destiné
                  à la diaspora de Kakandé afin qu’ils prennent connaissance du projet et qu’ils se l’approprient.
                  Etaient attendu à cette
                  soirée 400 personnes, mais environs 700 personnes étaient présentes. L’évènement fut au-delà de toutes
                  nos attentes.
                </p>
                <ul class="list-inline">
                  <li>Date: Octobre 2017</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Début de la construction</h2>
                <p class="item-intro text-muted">Construction du dispensaire</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/travaux-ajk-full.jpg" alt="">
                <p>
                  L’<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> en partenariat avec UCUD pour le lancement de la
                  construction du centre de Santé à Dabankou ont organisé un voyage
                  en fin février. Mohamed DIABY, l’architecte et président de l’UCUD s’est rendu sur place afin de
                  recruter des jeunes et les
                  former, acheter les matériaux de construction et débuter le chantier école. Le chantier étant la
                  partie la plus importante
                  du projet car elle est consacrée à la formation des jeunes bénévoles à de nouvelles méthodes de
                  construction formant la particularité
                  de notre projet. Nous avons tenu prendre en compte les aspects environnementaux en faisant en sorte
                  d’utiliser les matériaux
                  locaux comme de la latérite pour fabriquer les briques. La première partie de la construction a débuté
                  par le pôle pharmacie
                  qui a servi de chantier école.</p>
                <ul class="list-inline">
                  <li>Date: Février 2018</li>
                  <li>Fin: Juillet 2018</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 7 -->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Démarrage des travaux du pôle généraliste</h2>
                <p class="item-intro text-muted">Pôle Généraliste</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/travaux-ajk-generaliste-full.jpg" alt="">
                <p>La seconde étape est enclenchée ! Forte de cette première expérience, nous avons démarré la 1<sup>ère</sup> phase de
                  construction du pôle
                  généraliste. C'est avec entrain que les ouvriers et les jeunes des villages
                  ont pu mettre en
                  pratique la formation aux différentes techniques de construction acquises lors du chantier école. Cette phase se terminera par la pose complète des murs et de la toiture.</p>
                <ul class="list-inline">
                  <li>Date: Janvier 2019</li>
                  <li>Fin: Mai 2020</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 8 -->
  <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Seconde phase des travaux du pôle généraliste</h2>
                <p class="item-intro text-muted">Pôle Généraliste</p>
                <img class="img-fluid d-block mx-auto lazyload" data-src="images/portfolio/travaux-ajk-generaliste-2-full.jpg" alt="">
                <p>Place à la troisième étape ! Nous avons opéré un changement d’architecture au niveau de la toiture des bâtiments en construction (y compris le pôle pharmacie) pour une plus grande flexibilité. Un petit plus pour ce pôle généraliste : un banc extérieur a été ajouter sous la véranda.</p>
                <ul class="list-inline">
                  <li>Date: Juillet 2020</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>