  <section id="services" class="association parralax-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase text-center">L'association AJK</h2>
          <h3 class="section-subheading text-muted">Qui sommes-nous&nbsp;?</h3>
        </div>
        <div class="col-lg-12">
          <img class="left responsive-img lazyload" data-src="images/logos/logo-final-ajk.svg" alt="logo ajk">
          <p>
            L'<strong>ASSOCIATION DES JEUNES DE KAKANDÉ (AJK)</strong> est une association à but non lucratif créée par
            l’initiative de jeune français d’origine guinéenne souhaitant contribuer
            au développement du village de leurs parents. L’association compte plusieurs profils variés comme des
            développeurs informatique,
            des commerciaux, graphistes, ressources humaines, éducateurs, etc. L’<strong>ASSOCIATION DES JEUNES DE
              KAKANDÉ</strong> a pour vocation de mener des projets humanitaires
            dans des domaines de premières nécessités tels que la santé, l’éducation, mais aussi tout ce qui contribue
            au développement
            durable de la région de Kakandé situé en Guinée.
          </p>
          <h3 class="section-subheading text-muted clear pt-4">Notre Histoire</h3>
          <p>
            <img class="responsive-img right lazyload" data-src="images/annexes/case-village-kakande.jpg" alt="">
            L’association a vu le jour en septembre 2016. Elle est issue d’une volonté de contribuer au développement de
            la région de
            Kakandé d’où sont originaire nos parents. Nous, qui sommes nés et ayant grandi en France, avons une approche
            et une attache
            particulière à notre pays d’origine. Nous avons connu la Guinée à travers les rêves et espoirs de nos
            parents. Ils nous racontaient
            souvent le rêve de voir une Afrique enfin développée et émancipée. Au fils des années, nous avons développé
            avec eux leurs
            espérances pour le continent.
          </p>
          <p>
            En prenant conscience que nous avions des compétences variées que nous pouvons apporter à la
            population, c’est dans ce but, que nous nous sommes réunis. De par nos parcours, nous espérons faire en
            sorte d’apporter
            un nouvel élan qu’ont initié nos parents dans le développement de Kakandé.
          </p>
          <p>
            À travers notre association, nous souhaitons mettre
            en place des actions conséquentes et durables qui favoriseront l’amélioration du quotidien des habitants de
            ces villages.
          </p>
          <h3 class="section-subheading text-muted">Notre Mission</h3>
          <p>L'<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong> a pour vocation de mener des projets humanitaires dans
            des domaines de premières nécessités tels que la santé, l’éducation,
            mais aussi tout ce qui contribue au développement durable de la région de Kakandé situé en Guinée.</p>
          <ul class="listTypeCirclePadding">
            <li>Renforcement des infrastructure sanitaires et éducatives de kakandé</li>
            <li>Sensibilisation sur les pratiques sanitaires</li>
            <li>Sensibilisation à la scolarisation des enfants des village de kakandé</li>
            <li>Action ponctuelle d'aide humanitaire</li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12">
          <h3 class="section-subheading text-muted">Notre Equipe</h3>
        </div>
        <div class="col-md-5">
          <div class="text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Les membres du bureau</h4>
          </div>
          <ul class="text-muted listNone">
            <li>Fatoumata DIABY : <span class="bold">Présidente</span></li>
            <li>Slimane GASSAMA : <span class="bold">Trésorier</span></li>
            <li>Hawa Diaouné : <span class="bold">Vice-Présidente</span></li>
            <li>Maoudé GASSAMA : <span class="bold">Secrétaire Générale</span></li>
          </ul>
        </div>
        <div class="col-md-7 text-center">
          <div>
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">L'Équipe Projet</h4>
          </div>
          <ul class="text-muted listNone">
            <li><span class="bold">Résponsable projet</span> : Fatoumata DIABY, Présidente</li>
            <li><span class="bold">Suivi financier</span> : Slimane GASSAMA, Trésorier</li>
            <li><span class="bold">Architecte</span> : Mohamed Diaby, Président de l'UCUD</li>
          </ul>
          <div class="ml0 row">
            <ul class="col-md-6 text-muted listNone">
              <li>Maoudé GASSAMA</li>
              <li>Hawa DIAOUNE</li>
              <li>Houda TOURE</li>
              <li>Ibrahim TOURE</li>
              <li>Mimi DIAOUNE</li>
              <li>Yadali DIABY</li>
            </ul>
            <ul class="col-md-6 text-muted listNone">
              <li>Mariama CISSE</li>
              <li>Abdoulaye FOFANA</li>
              <li>Tigui TOURE</li>
              <li>Néné DIABY</li>
              <li>Karim DIABY</li>
              <li>Souleymane TOURE</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="section-subheading text-muted">Nos partenaires</h3>
          <div class="partenary-section">
            <h4>UCUD (Union de la Communauté Urbaine de Dabankou)</h4>
            <p>L'UCUD est une association de la loi 1901, créée il y a un an pour représenter la population de Dabankou
              et encourager
              le développement de son territoire. L’équipe de l’UCUD est composée d'architectes, d'économistes, de
              géologues, de médecins,
              de juristes, de comptables, d'ingénieurs, etc. Dans le cadre de ce projet, l'UCUD s'est alliée à l'AJK
              pour défendre
              ensemble le droit au soin de la population. L'objectif de cette collaboration est de favoriser un échange
              de compétences
              entre les deux organisations. C’est pour ses aptitudes architecturales et techniques que l'AJK a mandaté
              l'UCUD pour
              la construction du centre de santé. Le projet est par conséquent en cogestion entre les deux associations.
            </p>
          </div>
          <div class="partenary-section">
            <h4>DRS (Direction Régionale de la Santé de Boké)</h4>
            <p>
              La Direction régionale de la Santé de Boké est chargée du suivi et de la coordination des établissements
              de santé et des
              agents dans la perspective de l’amélioration de l’état de santé de la population de Boké. Docteur Mamadou
              Diouhe Barry en
              est le Directeur.
            </p>
          </div>
          <div class="partenary-section">
            <h4>DNARPROMA (Direction Nationale de Régulation et de Promotion des ONG et du Mouvement Associatif)</h4>
            <p>La Direction Nationale de Régulation et de Promotion des ONG et du Mouvement Associatif nous accorde l'autorisation d'exercice dans la région de Boké dans le cadre de nos activités. Delphine OUENDENO en est la directrice.</p>
          </div>
          <div class="partenary-section">
            <h4>P.H.A.M.M (Pharmaciens Humanitaires d'Auvergne Matériel Médical)</h4>
            <p>L'association Pharmaciens Humanitaires d'Auvergne Matériel Médical reconnu association d'intérêt général, récupèrent du matériel médical à destination des ONG et autres organismes caritatifs.
              Grâce leurs aides et à leurs générosités, nous avons pu bénéficier d'un conteneur de 40 pieds rempli de matériel médical à destination de notre nouveau centre de santé à Dabankou.<br>
              <a class="d-block mt-3" target="_blank"
              href="https://www.pharmaciens-humanitaires.com/home.html">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-external-link-alt fa-stack-1x fa-inverse"></i>
              </span>
              Leur site internet : https://www.pharmaciens-humanitaires.com/home.html</a>
            </p>
          </div>
          <div class="partenary-section">
            <h4>Conakry Nouvelles</h4>
            <p>Conakry Nouvelles est une agence multimédia qui évolue dans le domaine de la communication audio visuelle. Elle nous accompagne notamment dans la publicité de notre projet afin de le faire connaître du grand public.</p>
          </div>
          <div class="partenary-section">
            <h4>Les habitants du village de Dabankou</h4>
            <p>Les parents des jeunes de la diaspora se sont également investis dans le projet en se portant à notre
              disposition pour
              toutes les informations requises sur le village et son fonctionnement.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parralax-section--dbk1 rellax" data-rellax-speed="-5" data-rellax-zindex="-6"></div>
  </section>