  <section id="donation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <h2 class="section-heading text-uppercase text-center">Soutenez nos actions</h2>
        </div>
        <div class="col-lg-12">
          <h3 class="section-subheading text-muted">Devenir partenaire</h3>
          <p>
            Parce que la santé est le trésor de la vie !
          </p>
          <p>
            <img class="responsive-map-img roundbox boxShadow right lazyload" data-src="images/annexes/soutenir-ajk.jpg" alt="">
            A Kakande, la population souffre depuis trop longtemps du manque d’infrastructure sanitaire convenable, les
            obligeant à faire
            des kilomètres pour se soigner, ou acheter des faux médicaments auprès de vendeurs ambulants ; ce qui
            représentent actuellement
            70% du marché local.<br /><br />
            En créant cette structure sanitaire avec nous, vous associerez votre image et vos valeurs à une action
            humanitaire conséquente
            qui permettra de changer la vie de plus 7000 personnes. En vous joignant au projet, nous pourront mettre sur
            pied un centre
            de santé qui sera adapté aux besoins de la population en matière de soin, équipé, électrifié et avec accès à
            l’eau.<br /><br />
            <span class="fa-stack fa-4x left">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="far fa-handshake fa-stack-1x fa-inverse"></i>
            </span>
            Soutenez notre projet en devenant partenaire financier ou par le biais d’un don matériel ! <br />
            Définissons ensemble un partenariat qui nous ressemble ! <br />
            Contactez-nous par mail <span class="mobile-only"></span><a
              href="mailto:contact@associationjeuneskakande.org" class="
              mobile-font-size">contact@associationjeuneskakande.org</a><br />
            Ou par téléphone – Responsable Partenariat au 06.15.37.29.52
        </div>
        <div class="col-lg-12">
          <h3 class="section-subheading text-muted">Comment adhérer ? </h3>
          <p>Pour adhérer et faire partie de l'aventure, vous devez remplir le formulaire ci-dessous et l'envoyer à
            l'adresse suivante :</p>
          <p>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-download fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
            <a href="../doc/Bulletin_adhesion_AJK.pdf">Formulaire d'inscription AJK à télécharger</a>
          </p>
          <p class="bold">Par courrier :</p>
          <p>Association des Jeunes de Kakandé
            <br>
            15 Passage du Poteau
            <br>
            75018 Paris
          </p>
          <p class="mt-4">Conformément à la décision de l’Assemblée Générale du 11 septembre 2016, le montant de
            l’adhésion a été fixé à 20€ annuelle et individuelle.</p>
          <p>Vous pouvez aussi passez via le lien ci-dessous pour adhérer facilement</p>
          <div class="text-center">
            <a href="https://www.helloasso.com/associations/association-des-jeunes-de-kakande/adhesions/adhesion-a-l-association-des-jeunes-de-kakande" class="btn btn-primary btn-xl text-uppercase" target="_blank">Adhérer</a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3 class="section-subheading text-muted">Faire un don</h3>
          <p>Pourquoi faire un don ? Parce que la santé est le trésor de la vie ! A Kakande, la population souffre
            depuis trop longtemps
            du manque d’infrastructure sanitaire convenable. Participer et soutenez-nous dans cette aventure
            humanitaire, qui permettra
            de changer la vie de plus de 7000 personnes sans compter les villages alentours.
          </p>
          <p>Pour faire un don à l'<strong>ASSOCIATION DES JEUNES DE KAKANDÉ</strong>,</p>
          <hr/>
          <p class="bold">Via HelloAsso</p>
          <p>Cliquez sur le bouton ci-dessous pour faire un don via HelloAsso</p>
          <div class="text-center mt-5">
            <a href="https://www.helloasso.com/associations/association-des-jeunes-de-kakande/formulaires/1/widget" class="btn btn-primary btn-xl text-uppercase" target="_blank">
              Faire un don
            </a>
          </div>
          <hr/>
          <div class="row mt-5">
            <div class="col-lg-6 text-center">
              <p class="bold">Par Paypal</p>
              <a href="https://www.paypal.com/paypalme/assojeuneskakande" class="" target="_blank">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-cc-paypal fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
              </a>
              <p class="mobile-font-size mt-4">associationjeuneskakande@gmail.com</p>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 text-center">
              <p class="bold">Par Virement/Chèque</p>
              <p>Pour faire un virement, veuillez envoyer un mail à l'adresse suivante pour recevoir le RIB :
                <strong class="mobile-font-size italic">contact@associationjeuneskakande.org</strong>
              </p>
              <hr/>
              <p>Par chèque établi à l'ordre "ASSOCIATIONS DES JEUNES DE KAKANDÉ" à l'adresse suivante :</p>
              <p>ASSOCIATION DES JEUNES DE KAKANDÉ<br>
              15 Passage du poteau <br>
              75018 PARIS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>